{% extends 'main.html' %}
{% load staticfiles %}
{% block content %}
		<!--slider-->
		<div id="slider">
			<div class="str3 str_wrap">
				<a href="#">
					<img src="{% static 'img/carousel/p1.jpg' %}"></a>
				<a href="#">
					<img src="{% static 'img/carousel/p2.jpg' %}"></a>
				<a href="#">
					<img src="{% static 'img/carousel/p3.jpg' %}"></a>
				<a href="#">
					<img src="{% static 'img/carousel/p4.jpg' %}"></a>
				<a href="#">
					<img src="{% static 'img/carousel/p5.jpg' %}"></a>
				<a href="#">
					<img src="{% static 'img/carousel/p6.jpg' %}"></a>
				<a href="#">
					<img src="{% static 'img/carousel/p7.jpg' %}"></a>
				<a href="#">
					<img src="{% static 'img/carousel/p8.jpg' %}"></a>
				<a href="#">
					<img src="{% static 'img/carousel/p9.jpg' %}"></a>
			</div>
		</div>
		<!--content-->

		<div id="content">
            <!--lefttext-->
			<div class="left-block">
				<!--lefttext-->
				<div align="top" width="300">
					<h3 class="left-title">

							<a href="#">Доставка пиццы на дом!</a>

					</h3>
					<div class="left-text">
						<p>
							Используя в своей работе самые передовые методы и технологии, компания «PIZZA LAND» оказывает целый ряд услуг, помогая развитию вашего бизнеса. Стремитесь к дальнейшему росту? Ищите новые рынки сбыта? Хотите более оптимально реструктуировать...
						</p>
					</div>
					<h3 class="left-title">

							<a href="#">Говорят о нас клиенты</a>

					</h3>
					<div class="left-text">
						<p>
							Используя в своей работе самые передовые методы и технологии, компания «PIZZA LAND» оказывает целый ряд услуг, помогая развитию вашего бизнеса. Стремитесь к дальнейшему росту? Ищите новые рынки сбыта? Хотите более оптимально реструктуировать...
						</p>
					</div>
					<h3 class="left-title">

							<a href="#">Контакты</a>

					</h3>
					<div class="left-text">
						<p>
							Используя в своей работе самые передовые методы и технологии, компания «PIZZA LAND» оказывает целый ряд услуг, помогая развитию вашего бизнеса. Стремитесь к дальнейшему росту? Ищите новые рынки сбыта? Хотите более оптимально реструктуировать...
						</p>
					</div>
				</div>
</div>

			<!--content-blog-->
			<div class="right-block">
				<h3 class="content-title">

						<a href="#">Рекомендуем!</a>

				</h3>
				<div class="content-blog">
					<div class="blog-img">
						<a href="#">
							<img src="{% static 'img/peperoni.jpg' %}"></a>
					</div>
					<div class="blog-title">
						<a href="">Пицца пепперони</a>
					</div>
					<div class="blog-text">
						<p>
							Используя в своей работе самые передовые методы и технологии, компания «PIZZA LAND» оказывает целый ряд услуг, помогая развитию вашего бизнесаKB. Стремитесь к дальнейшему росту? Ищите новые рынки сбыта? Хотите более оптимально реструктуировать...
							<a href="" class="read-more">Подробнее &raquo;&raquo;</a>
						</p>
						<p class="blog-info">
							есть в наличии
							</p>
								<span class="in-backet">
									<button>В Корзину</button>
								</span>
								<span class="blog-price">600.00 сом</span>
								<span class="blog-discount-price">450.00</span>
								сом

							</div>
						</div>

						<div class="content-blog">
							<div class="blog-img">
								<a href="#">
									<img src="{% static 'img/sea.jpg' %}"></a>
							</div>
							<div class="blog-title">
								<a href="">Морская пицца</a>
							</div>
							<div class="blog-text">
								<p>
									Используя в своей работе самые передовые методы и технологии, компания «PIZZA LAND» оказывает целый ряд услуг, помогая развитию вашего бизнеса. Стремитесь к дальнейшему росту? Ищите новые рынки сбыта? Хотите более оптимально реструктуировать...
									<a href="" class="read-more">Подробнее &raquo;&raquo;</a>
								</p>
								<p class="blog-info">
									есть в наличии
								</p>
										<span class="in-backet">
											<button>В Корзину</button>
										</span>
										<span class="blog-price">600.00 сом</span>
										<span class="blog-discount-price">450.00</span>
										сом
									</div>

								</div>

								<div class="content-blog">
									<div class="blog-img">
										<a href="#">
											<img src="{% static 'img/french.jpg' %}"></a>
									</div>
									<div class="blog-title">
										<a href="">Франсцузкая пицца</a>
									</div>
									<div class="blog-text">
										<p>
											Используя в своей работе самые передовые методы и технологии, компания «PIZZA LAND» оказывает целый ряд услуг, помогая развитию вашего бизнеса. Стремитесь к дальнейшему росту? Ищите новые рынки сбыта? Хотите более оптимально реструктуировать...
											<a href="" class="read-more">Подробнее &raquo;&raquo;</a>
										</p>
										<p class="blog-info">
											есть в наличии
										</p>
												<span class="in-backet">
													<button>В Корзину</button>
												</span>
												<span class="blog-price">600.00 сом</span>
												<span class="blog-discount-price">450.00</span>
												сом
											</div>
										</div>

										<div class="content-blog">
											<div class="blog-img">
												<a href="#">
													<img src="{% static 'img/french.jpg' %}"></a>
											</div>
											<div class="blog-title">
												<a href="">Франсцузкая пицца</a>
											</div>
											<div class="blog-text">
												<p>
													Используя в своей работе самые передовые методы и технологии, компания «PIZZA LAND» оказывает целый ряд услуг, помогая развитию вашего бизнеса. Стремитесь к дальнейшему росту? Ищите новые рынки сбыта? Хотите более оптимально реструктуировать...
													<a href="" class="read-more">Подробнее &raquo;&raquo;</a>
												</p>
												<p class="blog-info">
													есть в наличии
												</p>
														<span class="in-backet">
															<button>В Корзину</button>
														</span>
														<span class="blog-price">600.00 сом</span>
														<span class="blog-discount-price">450.00</span>
														сом
													</div>
												</div>

											</div>
										</div>
{% endblock %}