<!DOCTYPE html>
<html>
<head>
	<title>Пицца "Маргирита"</title>
	<meta http-equiv="Content-Type" content="text/html; charset='utf-8'">
	<link rel="stylesheet" href="css/main2.css">
	<script src="js/jquery-2.1.1.min.js"></script>
	<script src="js/liMarquee/jquery.liMarquee.js"></script>
	<link href="js/liMarquee/liMarquee.css" rel="stylesheet" />

	<script type="text/javascript">
		/*$(window).load(function(){
			$('.str3').liMarquee();
		});*/

	</script>
</head>
<body>

	<div id="outer">

		<!--header-->
		<div id="header">
			<div class="logo">
				<a href="">PIZZALAND</a>
			</div>

			<div class="phone">0559 89-73-33</div>
			<div class="user-greeting">
				<div class="search">
					<input type="text" name="search-in-site" class="search-input" placeholder="Поиск по сайту"/>
					<input type="submit" name="search-submit" value=""/>
				</div>
				<div class="auth-block">
					<a class ="sign-in" href="#">Вход</a>
					<a class = "check-in" href="#">Регистрация</a>
				</div>
			</div>
		</div>
		<!--menu-->
		<div id="menu">
			<div class="menu-container">
				<a href="">ГЛАВНАЯ</a>
				<a href="">О НАС</a>
				<a href="">МЕНЮ</a>
				<a href="">КОНТАКТЫ</a>
			</div>
		</div>

		<!--content-->
		<div id="content">
			<div class="left-block">
				<!--lefttext-->
				<div align="top" width="300" class="recomend">
					<h3 class="left-title">

						<a href="#">Рекомендуем!</a>

					</h3>
					<div class="content-blog">
						<div class="blog-img">
							<a href="#">
								<img src="img/sea.jpg"></a>
						</div>
						<div class="blog-title">
							<a href="">Морская пицца</a>
						</div>

		    
						<div class="blog-text">
							<p>
								Используя в своей работе самые передовые методы и технологии, компания «PIZZA LAND» оказывает целый ряд услуг, помогая развитию вашего бизнеса. Стремитесь к дальнейшему росту? Ищите новые рынки сбыта? Хотите более оптимально реструктуировать...
								<a href="" class="read-more">Подробнее &raquo;&raquo;</a>
							</p>
							<p class="blog-info">есть в наличии</p>
							<span class="in-backet">
								<button>В Корзину</button>
							</span>
							<span class="blog-price">600.00 сом</span>
							<span class="blog-discount-price">450.00</span>
							сом
						</div>
				</div>
				</div>
			</div>
				<div class="right-block">
					<div class="title">
						<h1>Пицца "Маграрита"</h1>
					</div>

					<div class="about-blog">
						<p class="navigation-bar">
		    <span style="float:right;">
		         
		          <a href="">&laquo; Назад</a> 
		        |
		        <a href="">Вперед &raquo;</a>
		        
		    </span>
		    <a href="">Все меню</a>
		    </p>
						<div class="blog-img">
							<img src="img/peperoni.jpg" width="440"></div>
						<div class="blog-text">
							<p class="description-text">
Лепешка из фирменного теста с оливковым маслом, томатным соусом, сыром Моцарелла и базиликом. Легенда гласила, что в 1889 году во время визита короля Италии Умберто Первого в Неаполь, его супруге Маргарите Савойской захотелось попробовать любимое блюдо итальянцев. Для нее приготовили пиццу, использовав цвета итальянского флага. Впоследствии народ, обожающий свою королеву, назвал пиццу "Маргарита" 
							</p>
						</div>				

						<div class="price-view">
						<div class="pre-price">
						<label>Цена:</label>
						<span>560 сом</span></div>
						<div class="discount"><label>Скидка:</label>
						<span>14% (80 сом)</span></div>
						<div class="total-price">
						<label>Окончательная цена:</label>
						<span>480</span> сом</div>
						</div>
					<div class="add-cart-block">
			        <form method="get" id="form_add_to_shopping_cart">
			            <input type="hidden" name="added-to-shoping-cart" value="added">
			            <input type="text" id="amount" name="amount" value="1" size="4"> 
			            <button type="submit">В корзину</button>
			        </form> 
			          <div class="block-ingridients">
						<div class="blog-text">
							<strong>Соcтав:
							</strong>Мука, свежие томаты, ветчина, сыр "Мацарелло", сыр "Пармизан", черный перец, красный перец, перец "Чили", базилик.
						</div>
					</div>
			        </div>

					</div>


				</div>
			</div>
			<!--footer-->
			<div id="footer" >
				<center class="footer-block">
					<a href="">Контакты</a>
					&nbsp;•&nbsp;
					<a href="">О нас</a>
					&nbsp;•&nbsp;
				© 2015 «PIZZA LAND» - Все права защищены  •
					<a href="">Партнеры</a>
					&nbsp;•&nbsp;
					<a href="">Разработчики</a>
					&nbsp;•&nbsp;
				</center>
			</div>
		</div>
		<!--end outer-->
</body>
	</html>