{% comment %}
{% extends 'index.html' %}
{% load staticfiles %}
{% block rightblock %}
<div class="right-block">
				<h3 class="content-title">

						<a href="#">Рекомендуем!</a>

				</h3>
				<div class="content-blog">
					<div class="blog-img">
						<a href="#">
							<img src="{% static 'img/peperoni.jpg' %}"></a>
					</div>
					<div class="blog-title">
						<a href="">Пицца пепперони</a>
					</div>
					<div class="blog-text">
						<p>
							Используя в своей работе самые передовые методы и технологии, компания «PIZZA LAND» оказывает целый ряд услуг, помогая развитию вашего бизнесаKB. Стремитесь к дальнейшему росту? Ищите новые рынки сбыта? Хотите более оптимально реструктуировать...
							<a href="" class="read-more">Подробнее &raquo;&raquo;</a>
						</p>
						<p class="blog-info">
							есть в наличии
							</p>
								<span class="in-backet">
									<button>В Корзину</button>
								</span>
								<span class="blog-price">600.00 сом</span>
								<span class="blog-discount-price">450.00</span>
								сом

							</div>
						</div>

						<div class="content-blog">
							<div class="blog-img">
								<a href="#">
									<img src="{% static 'img/sea.jpg' %}"></a>
							</div>
							<div class="blog-title">
								<a href="">Морская пицца</a>
							</div>
							<div class="blog-text">
								<p>
									Используя в своей работе самые передовые методы и технологии, компания «PIZZA LAND» оказывает целый ряд услуг, помогая развитию вашего бизнеса. Стремитесь к дальнейшему росту? Ищите новые рынки сбыта? Хотите более оптимально реструктуировать...
									<a href="" class="read-more">Подробнее &raquo;&raquo;</a>
								</p>
								<p class="blog-info">
									есть в наличии
								</p>
										<span class="in-backet">
											<button>В Корзину</button>
										</span>
										<span class="blog-price">600.00 сом</span>
										<span class="blog-discount-price">450.00</span>
										сом
									</div>

								</div>

								<div class="content-blog">
									<div class="blog-img">
										<a href="#">
											<img src="{% static 'img/french.jpg' %}"></a>
									</div>
									<div class="blog-title">
										<a href="">Франсцузкая пицца</a>
									</div>
									<div class="blog-text">
										<p>
											Используя в своей работе самые передовые методы и технологии, компания «PIZZA LAND» оказывает целый ряд услуг, помогая развитию вашего бизнеса. Стремитесь к дальнейшему росту? Ищите новые рынки сбыта? Хотите более оптимально реструктуировать...
											<a href="" class="read-more">Подробнее &raquo;&raquo;</a>
										</p>
										<p class="blog-info">
											есть в наличии
										</p>
												<span class="in-backet">
													<button>В Корзину</button>
												</span>
												<span class="blog-price">600.00 сом</span>
												<span class="blog-discount-price">450.00</span>
												сом
											</div>
										</div>

										<div class="content-blog">
											<div class="blog-img">
												<a href="#">
													<img src="{% static 'img/french.jpg' %}"></a>
											</div>
											<div class="blog-title">
												<a href="">Франсцузкая пицца</a>
											</div>
											<div class="blog-text">
												<p>
													Используя в своей работе самые передовые методы и технологии, компания «PIZZA LAND» оказывает целый ряд услуг, помогая развитию вашего бизнеса. Стремитесь к дальнейшему росту? Ищите новые рынки сбыта? Хотите более оптимально реструктуировать...
													<a href="" class="read-more">Подробнее &raquo;&raquo;</a>
												</p>
												<p class="blog-info">
													есть в наличии
												</p>
														<span class="in-backet">
															<button>В Корзину</button>
														</span>
														<span class="blog-price">600.00 сом</span>
														<span class="blog-discount-price">450.00</span>
														сом
													</div>
												</div>

											</div>
{% endblock %}{% endcomment %}
